.contact {
    padding: 20px 0;
    color: $gray-89;

    @media (min-width: $screen-sm) {
        padding: 50px 0;
    }

    @media (min-width: $screen-md) {
        padding: 80px 0;
    }

    &__caption {
        margin-bottom: 30px;

        @media (min-width: $screen-md) {
            margin-bottom: 50px;
        }
    }

    &__address {
        margin-bottom: 40px;

        @media (min-width: $screen-sm) {
            margin-bottom: 60px;
        }

        @media (min-width: $screen-md) {
            margin-bottom: 100px;
        }

        @media (min-width: $screen-lg) {
            margin-bottom: 140px;
        }
    }
}