.footer {
    padding: 20px 0;

    @media (min-width: $screen-md) {
        padding: 35px 0;
    }

    @media (min-width: $screen-md) {
        padding: 50px 0;
    }

    &__copyright {
        text-align: center;
        font-size: $font-size-14;
        font-family: $helvetica-roman;
        color: $dark-gray-3b;
    }
}