.caption {
    text-align: center;

    &__title {
        font-family: $helvetica-lt;
        font-size: $font-size-34;
        color: $dark-blue;
    }

    &__subtitle {
        color: $gray-89;
        font-family: $merriweather;
        font-weight: $light;
        font-style: italic;
    }
}