.scroll-down {
    @include flex ($flex-direction: column, $justify-content: space-between);
    position: absolute;
    top: calc(100% - 90px);
    left: 50%;
    height: 55px;
    transform: translate(-50%, -100%);
    cursor: pointer;

    &:hover &__item {
        box-shadow: 0 0 5px rgba($color: $black, $alpha: 0.8);
    }

    &__item {
        width: 10px;
        height: 10px;
        border-radius: 50%;

        &--light {
            background-color: $scroll-light;
        }

        &--gray {
            background-color: $scroll-gray;
        }

        &--dark {
            background-color: $scroll-dark;
        }
    }
}