$white:           #fff;
$white-fe:        #fefefe;
$gray-e4:         #e4e4e4;
$gray-b3:         #b3b3b3;
$gray-b7:         #b7b7b7;
$gray-7:          #777777;
$gray-89:         #898888;
$gray-98:         #989696;
$dark-gray-38:    #383838;
$dark-gray-46:    #464646;
$dark-gray-3b:    #3b3b3b;
$black:           #000;
$black-01:        #010101;
$black-12:        #121212;
$black-16:        #161616;
$black-18:        #181818;
$black-32:        #323232;
$dark-blue:       #1d1e1f;

$font-size-12:       0.75em;
$font-size-13:       0.8125em;
$font-size-14:       0.875em;
$font-size-15:       0.9375em;
$font-size-16:       1em;
$font-size-17:       1.0625em;
$font-size-18:       1.125em;
$font-size-24:       1.5em;
$font-size-26:       1.625em;
$font-size-34:       2.125em;
$font-size-44:       2.75em;
$font-size-48:       3em;

$line-height:        1.5;

$letter-spacing-20:  0.02em;
$letter-spacing-30:  0.03em;
$letter-spacing-40:  0.04em;

$helvetica-lt:      'Helvetica Neue LT Pro - Lt' sans-serif;
$helvetica-roman:   'Helvetica Neue LT Pro - Roman' sans-serif;
$helvetica-md:      'Helvetica Neue LT Pro - Md' sans-serif;
$roboto:            'Roboto', sans-serif;
$montserrat:        'Montserrat', sans-serif;
$merriweather:      'Merriweather', serif;

$screen-sm:         576px;
$screen-md:         768px;
$screen-lg:         992px;
$screen-xl:         1200px;